$color: #112B3C;

$color-light: #ffffff;
$bg-highlight-color: #ffffff;

$bg-color-light: #EFEFEF;

$primary-color: #143F6B;
$secondary-color: #312F2F;
$info-color: #F55353;

$header-color: $color;
$header-bg-color: $color-light;

$footer-bg-color: $color;
$footer-color: $color-light;

$body-font: Roboto;
$title-font: Arial;

$border-radius: 0;
