$color: #050505;

$color-light: #ffffff;

$bg-color-light: #fafaf9;

$primary-color: #A31621;
$secondary-color: #A31621;

$info-color: #ffd9a9;

$bg-highlight-color : #ffd9a9;

$header-bg-color: $primary-color;
$header-color: $color-light;

$footer-bg-color: $color;
$footer-color: $color-light;

$title-font: 'Oswald';

$body-font: 'Open Sans';

$border-radius: 8px;