
$color: #050401;

$color-light: #ffffff;

$bg-color-light: #FFFAFF;

$primary-color: #30BCED;

$info-color: #ffced7;

$bg-highlight-color : #ffffff;

$header-bg-color: $bg-color-light;
$header-color: $primary-color;

$footer-bg-color: $primary-color;
$footer-color: $color-light;

$title-font: 'Playfair Display';

$body-font: 'Montserrat';
$border-radius: 0;
