// COMMON STYLES

.main-wrapper {
  position: relative;
  background-color: $bg-color-light;
  color: $color;
  min-height: 80vh;
}

.main-wrapper,
footer {
  font-family: $body-font;
}

.fade-text {
  color: $fade-color;
}

hr {
  background-color: $primary-color;
}

// a.link {
//   color: $primary-color;
// }

// a {
//   text-decoration: none;
// }

a:hover,
a:focus {
  font-weight: 600;
  text-decoration: underline;
}

// .form-control,
// .input-group>.form-control {
//   border-radius: 0;
// }

// .input-group>button.btn {
//   border: none;
//   color: $color;
//   padding: 0.25rem 0.75rem;
//   border-radius: 0;

//   @include hover-bg();
// }

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  .title {
    flex: 1;
    margin: 0;
  }
}

.btn {

  // width: fit-content;

  // min-width: 50px;

  // background-color: transparent;
  // color: $primary-color;
  // border: 2px solid $primary-color;
  // padding: 8px 16px;

  // transition: 0.1s ease-in;

  // &.full-width {
  //   width: 100%;
  // }

  &:hover,
  &:focus {
    transform: translateY(-2px);
    @include small-shadow();
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  color: $primary-color;
}

.dropdown {
  .dropdown-menu {
    // border-radius: 0;
    // color: $color;
    // border: none;
    @include small-shadow();

    // background-color: $bg-color-light;
    .dropdown-item {
      color: $color;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
      background-color: $bg-highlight-color;
    }
  }
}

// END COMMON STYLES
